* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
header,
footer {
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 76px;
    background-color: #212343;
}

.logo {
    width: 145px;
    height: 21px;
    margin-left: 44px;
    margin-top: 28px;
    background-image: url(../images/logo.png);
}

.bannerSite {
    width: 100%;
    height: 557px;
    background-image: url(../images/header_bg.png);
    background-size: cover;
    background-position: center;
}

.formContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.firstform {
    width: 400px;
    height: 100%;
    position: relative;
    top: 38px;
    right: 35px;
    background-color: #FFFFFF;
    border: 10px solid rgba(204, 204, 204, 0.5);
    background-clip: padding-box;

}

.firstform h2 {
    margin: 8px;
    font-weight: normal;

    color: #999999;
}

.firstform ul {
    list-style-type: none;
    margin-left: 8px;
}

.firstform ul li span,
p {
    font-size: 17px;
    color: #BBBBBB;
}

.firstform ul input[type=text],
input[type=tel] {
    width: 344px;
    height: 55px;
    margin-top: 8px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
}

.firstform p {
    margin: 20px 8px;
}

.container-submit {
    text-align: center;
}

.firstform input[type=submit] {
    width: 280px;
    height: 56px;
    background-color: #363A6D;
    font-size: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid #4A5097;
    cursor: pointer;

}

.firstform input[type=submit]:hover {
    background-color: #323665;
}

.bannerBox {
    width: calc(100% - 665px);
    height: 270px;
    position: relative;
    top: 170px;
    left: 70px;
    background-color: rgba(33, 35, 67, 0.7);
    padding: 30px;
}

.bannerBox ul {
    list-style-position: inside;

}

.bannerBox ul li {
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 20px;
}

.bannerBox ul li:nth-of-type(1) {
    margin-top: 0;
}

.bannerBody1 {
    width: 100%;
    height: 335px;
    background-color: #DDDDDD;
    padding: 70px 0;
    text-align: center;
}

.bannerBody1 h2 {
    font-size: 26px;
    color: #000000;
    text-align: center;
}

.bannerBody1 p {
    display:inline-block;
    width:698px;
    font-size: 16px;
    color: #666666;
    text-align: justify;
    margin: 15px 0;
}